<div class="home-container">
  <div class="barra">
    <h2>Políticos</h2>
  </div>
  <div class="middle">
    <div class="barra-vertical">
      <form>
        <mat-form-field>
          <input type="text" placeholder="Estado" aria-label="State" matInput [formControl]="formState" [matAutocomplete]="autoState">
          <mat-autocomplete #autoState="matAutocomplete">
            <mat-option *ngFor="let state of filteredOptionsState | async" [value]="state.name" (click)="carregarCidades(state)">
              {{ state.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Cidade" aria-label="City" matInput [formControl]="formCity" [matAutocomplete]="autoCity">
          <mat-autocomplete #autoCity="matAutocomplete">
            <mat-option *ngFor="let city of filteredOptionsCity | async" [value]="city.name" (click)="carregarDadosCidade(city)">
              {{ city.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>      
      <div class="localidade-container">
        <div class="localidade"> {{stateSelected}} </div>
        <div class="breadcrumbs"> {{stateSelected}} </div>
      </div>
      
      <div class="totais">
        <div class="boxes boxestados" [hidden]="totalCities!==0">
          <div class="txt-boxes">Total de estados</div>
          <div class="num num-totalestados">27</div>
        </div>
        <div class="boxes boxescidades" [hidden]="totalCities===0 || totalDistricts!==0">
          <div class="txt-boxes">Total de cidades</div>
          <div class="num num-totalcidades">{{totalCities}}</div>
        </div>
        <div class="boxes boxesbairros" [hidden]="totalDistricts===0">
          <div class="txt-boxes">Total de bairros</div>
          <div class="num num-totalbairros">{{totalDistricts}}</div>
        </div>
        <div class="boxes boxescolegios" [hidden]="totalSchools===0">
          <div class="txt-boxes">Total de colégios</div>
          <div class="num num-totalcolegios">0</div>
        </div>
        <div class="boxes boxeseleitores" [hidden]="totalElectorate===0">
          <div class="txt-boxes">Total de eleitores</div>
          <div class="num num-totaleleitores">{{totalElectorate}}</div>
        </div>
        <div class="boxes boxesvotos">
          <mat-accordion>
            <mat-expansion-panel (opened)="accordionPartidos = true"
            (closed)="accordionPartidos = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  PARTIDOS
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div style="position: relative; width: 400px; height: 200px;" id="politicalParties" name="politicalParties"></div>
              <mat-table #table [dataSource]="dataSourcePoliticalParties">
                <ng-container matColumnDef="_id">
                  <mat-header-cell *matHeaderCellDef> Partido </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="total">
                  <mat-header-cell *matHeaderCellDef> Votos </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="percent">
                  <mat-header-cell *matHeaderCellDef> % </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.percent}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsPoliticalParties"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsPoliticalParties;"></mat-row>
              </mat-table>
              <div class="nulos_brancos">Votos nulos: {{votosNulosPartidos}}</div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="accordionPrefeitos = true"
            (closed)="accordionPrefeitos = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  PREFEITOS
                </mat-panel-title> 
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="accordionVereadores = true"
            (closed)="accordionVereadores = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  VEREADORES
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <div style="position: relative; width: 400px; height: 200px;" id="chart1" name="chart1">{{chart1}}</div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class="mapa" #gmap style="width: 100%; height: 100%"></div>
  </div>
</div>