<div class="home-container">
  <div class="barra">
    <img src="../assets/images/logotipo_comunnica.png"/>
  </div>
  <div class="middle">
    <div class="detalhe fechado">
      <div class="div-detalhes">
        <div class="box-foto">
          <img src="../assets/images/foto-candidato.jpg"/>
        </div>
        <div class="box-descricao">
          <div class="display-name">
            <span>{{candidateDetail.electionInformation.nameExibition}}</span> - <span>{{candidateDetail.electionInformation.candidateNumber}}</span>
          </div>
          <div class="display-legenda">
            <span>{{candidateDetail.electionInformation.role.description}}</span> - <span>{{candidateDetail.electionInformation.politicalParty.initials}}</span>
          </div>
          <div class="other-text">
            Nome: <span>{{candidateDetail.personalInformation.name}}</span>
          </div>
          <div class="other-text">
            Partido: <span>{{candidateDetail.electionInformation.politicalParty.name}}</span>
          </div>
          <div class="other-text">
            Votos: <span>{{candidateDetail.electionInformation.totalVotes || 0}}</span>
          </div>
          <div class="other-text">
            CPF: <span>{{candidateDetail.personalInformation.document}}</span>
          </div>
          <div class="other-text">
            Profissão: <span>{{candidateDetail.personalInformation.occupation.description}}</span>
          </div>
        </div>
        <div class="bt-sair" (click)="sairDetalhes()"></div>
      </div>
      <div class="div-votos">
        <div class="tabela-escola">
          <div class="txt-boxes colegio">Votos por colégio</div>
          <div class="detalhe-grafico">
              <div style="position: relative; width: 400px; height: 200px;" id="votesSchoolChart" name="votesSchoolChart"></div>
          </div>
          <div class="detalhe-tabela">
              <mat-table #table [dataSource]="dataSourceSchools">
                <ng-container matColumnDef="index">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="colegio">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'schoolWidthClass'"> Colégio </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="'schoolWidthClass withoutAlign'"> {{element._id.localName}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="votos">
                  <mat-header-cell *matHeaderCellDef> Votos </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsSchools"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsSchools;"></mat-row>
              </mat-table>
          </div>
        </div>
      </div>
    </div>
    <div class="informations">
      <form>
        <mat-form-field>
          <mat-select placeholder="Ano Eleição" [formControl]="formYear">
            <mat-option (click)="resetVariables()">-- None --</mat-option>
            <mat-optgroup *ngFor="let group of yearGroup" [label]="group.name"
                          [disabled]="group.disabled">
              <mat-option *ngFor="let year of group.year" [disabled]="year === 2018" [value]="year" (click)="enableState(group.name, year)">
                {{ year }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Estado" aria-label="State" matInput [formControl]="formState" [matAutocomplete]="autoState">
          <mat-autocomplete #autoState="matAutocomplete">
            <mat-option *ngFor="let state of filteredOptionsState | async" [value]="state.name" (click)="carregarCidades(state)">
              {{ state.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Cidade" aria-label="City" matInput [formControl]="formCity" [matAutocomplete]="autoCity">
          <mat-autocomplete #autoCity="matAutocomplete">
            <mat-option *ngFor="let city of filteredOptionsCity | async" [value]="city.name" (click)="carregarDadosCidade(city)">
              {{ city.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Bairro" aria-label="District" matInput [formControl]="formDistrict" [matAutocomplete]="autoDistrict">
          <mat-autocomplete #autoDistrict="matAutocomplete">
            <mat-option *ngFor="let district of filteredOptionsDistrict | async" [value]="district" (click)="carregarDadosBairro(district)">
              {{ district }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Colégio Eleitoral" aria-label="School" matInput [formControl]="formsSchool" [matAutocomplete]="autoSchool">
          <mat-autocomplete #autoSchool="matAutocomplete">
            <mat-option>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>      
      <div class="localidade-container">
        <div class="localidade"> {{localeSelected}} </div>
        <div class="breadcrumbs"> {{stateSelected}} {{citySelected !== '' ? ' | ' + citySelected : ''}} {{districtSelected !== '' ? ' | ' + districtSelected : ''}} </div>
      </div>
      
      <div class="totais">
        <div class="boxes boxestados" [hidden]="totalCities!==0">
          <div class="txt-boxes">Total de estados</div>
          <div class="num num-totalestados">27</div>
        </div>
        <div class="boxes boxescidades" [hidden]="totalCities===0 || totalDistricts!==0">
          <div class="txt-boxes">Total de cidades</div>
          <div class="num num-totalcidades">{{totalCities}}</div>
        </div>
        <div class="boxes boxesbairros" [hidden]="totalDistricts===0 || districtSelected!==''">
          <div class="txt-boxes">Total de bairros</div>
          <div class="num num-totalbairros">{{totalDistricts}}</div>
        </div>
        <div class="boxes boxescolegios" [hidden]="districtSelected===''">
          <div class="txt-boxes">Total de colégios</div>
          <div class="num num-totalcolegios">0</div>
        </div>
        <div class="boxes boxeseleitores" [hidden]="totalElectorate===0">
          <div class="txt-boxes">Total de eleitores</div>
          <div class="num num-totaleleitores">{{totalElectorate}}</div>
        </div>
        <div class="boxes boxesvotos">
          <div [hidden]="yearSelected.name !== 'Eleições Municipais' || citySelected === ''">
            <mat-accordion>
              <mat-expansion-panel (opened)="accordionPartidos = true"
              (closed)="accordionPartidos = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    PARTIDOS
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="position: relative; width: 400px; height: 200px;" id="politicalParties" name="politicalParties"></div>
                <mat-table #table [dataSource]="dataSourcePoliticalParties">
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="_id">
                    <mat-header-cell *matHeaderCellDef> Partido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef> Votos </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="percent">
                    <mat-header-cell *matHeaderCellDef> % </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.percent}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsPoliticalParties"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsPoliticalParties;"></mat-row>
                </mat-table>

                <div class="nulos_brancos">Votos nulos: {{votosNulosPartidos}}</div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="accordionPrefeitos = true"
              (closed)="accordionPrefeitos = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    PREFEITOS
                  </mat-panel-title> 
                </mat-expansion-panel-header>
                <div style="position: relative; width: 400px; height: 200px;" id="topMayor" name="topMayor"></div>
                <mat-table #table [dataSource]="dataSourceMayor">
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nameExibition">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'customWithClass'"> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'customWithClass'"> {{element.electionInformation.nameExibition}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="politicalParty">
                    <mat-header-cell *matHeaderCellDef> Partido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation.politicalParty.initials}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="elected">
                    <mat-header-cell *matHeaderCellDef> Eleito </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation.elected ? '✔' : '✗'}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="totalVotes">
                    <mat-header-cell *matHeaderCellDef> Votos </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.totalVotes || 0}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="perfil">
                    <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <a class="click-ver" (click)="carregarDadosPerfil(element.electionInformation.candidateNumber, 'Municipais')">Ver</a> </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsMayor"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsMayor;"></mat-row>
                </mat-table>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="accordionVereadores = true"
              (closed)="accordionVereadores = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    VEREADORES
                  </mat-panel-title> 
                </mat-expansion-panel-header>
                <div style="position: relative; width: 400px; height: 200px;" id="topCandidate" name="topCandidate"></div>
                <mat-table #table [dataSource]="dataSourceCandidate">
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nameExibition">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'customWithClass'"> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'customWithClass'"> {{element.electionInformation.nameExibition}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="politicalParty">
                    <mat-header-cell *matHeaderCellDef> Partido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation.politicalParty.initials}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="elected">
                    <mat-header-cell *matHeaderCellDef> Eleito </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation.elected ? '✔' : '✗'}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="totalVotes">
                    <mat-header-cell *matHeaderCellDef> Votos </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.totalVotes || 0}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="perfil">
                    <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <a class="click-ver" (click)="carregarDadosPerfil(element.electionInformation.candidateNumber, 'Municipais')">Ver</a> </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsCandidate"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsCandidate;"></mat-row>
                </mat-table>

              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div [hidden]="yearSelected.name === 'Eleições Municipais' || stateSelected === 'BRASIL'">
            <mat-accordion>
              <mat-expansion-panel (opened)="accordionPrefeitos = true"
              (closed)="accordionPrefeitos = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    DEPUTADOS FEDERAIS
                  </mat-panel-title> 
                </mat-expansion-panel-header>
                <div style="position: relative; width: 400px; height: 200px;" id="topDepFederal" name="topDepFederal"></div>
                <mat-table #table [dataSource]="dataSourceDepFederal">
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nameExibition">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'customWithClass'"> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'customWithClass'"> {{element.electionInformation[0].nameExibition}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="politicalParty">
                    <mat-header-cell *matHeaderCellDef> Partido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation[0].politicalParty.initials}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="elected">
                    <mat-header-cell *matHeaderCellDef> Eleito </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation[0].situation === 'DEFERIDO' ? '✔' : '✗'}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="totalVotes">
                    <mat-header-cell *matHeaderCellDef> Votos </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation[0].totalVotes || 0}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="perfil">
                    <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <a class="click-ver" (click)="carregarDadosPerfil(element.electionInformation[0].candidateNumber, 'Federais')">Ver</a> </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsMayor"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsMayor;"></mat-row>
                </mat-table>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="accordionVereadores = true"
              (closed)="accordionVereadores = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    DEPUTADOS ESTADUAIS
                  </mat-panel-title> 
                </mat-expansion-panel-header>
                <div style="position: relative; width: 400px; height: 200px;" id="topDepEstadual" name="topDepEstadual"></div>
                <mat-table #table [dataSource]="dataSourceDepEstadual">
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nameExibition">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'customWithClass'"> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'customWithClass'"> {{element.electionInformation[0].nameExibition}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="politicalParty">
                    <mat-header-cell *matHeaderCellDef> Partido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation[0].politicalParty.initials}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="elected">
                    <mat-header-cell *matHeaderCellDef> Eleito </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation[0].situation === 'DEFERIDO' ? '✔' : '✗'}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="totalVotes">
                    <mat-header-cell *matHeaderCellDef> Votos </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.electionInformation[0].totalVotes || 0}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="perfil">
                    <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <a class="click-ver" (click)="carregarDadosPerfil(element.electionInformation[0].candidateNumber, 'Federais')">Ver</a> </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsCandidate"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsCandidate;"></mat-row>
                </mat-table>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
    <div class="mapa" #gmap style="width: 100%; height: 100%"></div>
  </div>
</div>